.lkds-progress {
  --lkdsc-progress-background: white;
  --lkdsc-progress-color: black;

  color: var(--lkdsc-progress-color);
  height: var(--ds-size-6);
  border-radius: var(--ds-border-radius-full);
  /**
   * By default u-progress uses background, which we want to override completely
   * This is why this isn't background-color
   */
  background: var(--lkdsc-progress-background);

  &::before {
    border-radius: inherit;
  }

  &:not([hidden]) {
    display: block;
  }

  &:not([value])::before {
    width: 100%;
    transition: width 1s ease;
    animation: indeterminateAnimation 1.5s infinite
      cubic-bezier(0.65, 0.815, 0.735, 0.395);
  }
}

.ds-label > .lkds-progress {
  margin-top: var(--ds-size-2);
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
